backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
certifi==2020.4.5.2
chardet==3.0.4
Django==1.11.29
google-search==1.0.2
idna==2.9
lxml==4.5.1
Pillow==6.2.2
pytz==2020.1
requests==2.23.0
soupsieve==1.9.6
urllib3==1.25.9
