{% load staticfiles %}
<html>
<head>
    <title>Rapport PDF</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>

<center>
    <div style="">
        <h1 style="color:red; text-decoration-line: underline;
     text-decoration-style: double;"> Rapport d’analyse concurrentielle</h1>
    </div>
</center>

<br>
<br>
<div class="container-fluid">

    <h4 style="color:#5f91ec;" >User Name : {{user.first_name}}  {{user.last_name}} </h4>
    <h4 style="color:#5f91ec;">Adresse Email : {{user.email}} </h4>
    <h4 style="color:#5f91ec;">Nom Projet : {{project.name}} </h4>
    <h4 style="color:#5f91ec;">Nom mot clé : {{keyword}}</h4>
    <h4 style="color:#5f91ec;">Domaine : Google.{{domain}}</h4>
    <h4 style="color:#5f91ec;">Secteur d’activité : {{sector}}</h4>
    <h4 style="color:#5f91ec;">Date de création : {{datecreation}}</h4>

    <hr style="border: 1px solid;">
    <br>

    <br>
    <br>
    <h4 style="color:red;"><stong style="font-size:40px">I</stong>ntroduction</h4>
    <p>
        <stong style="font-size:80px">L</stong>a base de tout projet de site internet est de vous amener de nouveaux visiteurs, de
        nouveaux clients et de fidéliser l’existant.
        Aussi, la mise en place d’un site doit être étudiée de façon approfondie et ne peut
        être abordée comme la rédaction d’un document classique.
        VISS vous propose la création d’un site réellement orienté utilisateur, associé à un design
        agréable et percutant, à la navigation simple et adaptée à tout type de visiteurs.
    </p>

    <br>   <br>


     <!---------------------- link 1 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h1 style="color:#5f91ec">Site 1 :</h1>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Name : </strong>{{result.link1.sitename|escape}}</li>
                    <li class="list-group-item"><strong>Title : </strong>{{result.link1.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link1.url|escape}}">{{result.link1.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Phone : </strong><a href="{{result.link2.url|escape}}">{{result.link1.phone|escape}}</a></li>
                    <li class="list-group-item"><strong>Email : </strong><a href="{{result.link2.url|escape}}">{{result.link1.email|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link1.description|escape}}</li>
                    <li class="list-group-item"><strong>Paragraph has keyWord : </strong>{{result.link1.paragraph_has_keyword|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link1.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link1.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link1.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link1.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link1.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link1.footer|escape}}</li>

                    <li class="list-group-item">
                        <square><p><strong>All links :</strong></p>
                            {% for i in result.link1.alllinks %}


                                 <li class="list-group-item">{{i}}</li>

                            {% endfor %}
                        </square>
                    </li>
                   <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link1.allimages %}


                                    <img src="{{i}}" alt="..." width="200px" height="200px" class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

    <hr style="border: 1px solid;">
            <!---------------------- link 2 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h1 style="color:#5f91ec">Site 2 :</h1>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Name : </strong>{{result.link2.sitename|escape}}</li>

                    <li class="list-group-item"><strong>Title : </strong>{{result.link2.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link2.url|escape}}">{{result.link2.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Phone : </strong><a href="{{result.link2.url|escape}}">{{result.link2.phone|escape}}</a></li>
                    <li class="list-group-item"><strong>Email : </strong><a href="{{result.link2.url|escape}}">{{result.link2.email|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link2.description|escape}}</li>
                    <li class="list-group-item"><strong>Paragraph has keyWord : </strong>{{result.link2.paragraph_has_keyword|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link2.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link2.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link2.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link2.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link2.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link2.footer|escape}}</li>
                    <li class="list-group-item">
                        <square><p><strong>All links :</strong></p>
                            {% for i in result.link2.alllinks %}


                                 <li class="list-group-item">{{i}}</li>

                            {% endfor %}
                        </square>
                    </li>

                    <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link2.allimages %}


                                    <img src="{{i}}" alt="..." width="200px" height="200px" class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>


                </ul>
            </div>

            <hr style="border: 1px solid;">

            <!---------------------- link 3 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h1 style="color:#5f91ec">Site 3 :</h1>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Name : </strong>{{result.link3.sitename|escape}}</li>

                    <li class="list-group-item"><strong>Title : </strong>{{result.link3.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link3.url|escape}}">{{result.link3.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Phone : </strong><a href="{{result.link2.url|escape}}">{{result.link3.phone|escape}}</a></li>
                    <li class="list-group-item"><strong>Email : </strong><a href="{{result.link2.url|escape}}">{{result.link3.email|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link3.description|escape}}</li>
                      <li class="list-group-item"><strong>Paragraph has keyWord : </strong>{{result.link3.paragraph_has_keyword|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link3.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link3.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link3.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link3.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link3.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link3.footer|escape}}</li>
                    <li class="list-group-item">
                        <square><p><strong>All links :</strong></p>
                            {% for i in result.link3.alllinks %}


                                 <li class="list-group-item">{{i}}</li>

                            {% endfor %}
                        </square>
                    </li>
                    <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link3.allimages %}


                                    <img src="{{i}}" alt="..." width="200px" height="200px" class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

            <hr style="border: 1px solid;">
            <!---------------------- link 4 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h1 style="color:#5f91ec">Site 4 :</h1>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Name : </strong>{{result.link4.sitename|escape}}</li>

                    <li class="list-group-item"><strong>Title : </strong>{{result.link4.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link4.url|escape}}">{{result.link4.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Phone : </strong><a href="{{result.link2.url|escape}}">{{result.link4.phone|escape}}</a></li>
                    <li class="list-group-item"><strong>Email : </strong><a href="{{result.link2.url|escape}}">{{result.link4.email|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link4.description|escape}}</li>
                    <li class="list-group-item"><strong>Paragraph has keyWord : </strong>{{result.link4.paragraph_has_keyword|escape}}</li>

                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link4.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link4.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link4.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link4.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link4.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link4.footer|escape}}</li>
                    <li class="list-group-item">
                        <square><p><strong>All links :</strong></p>
                            {% for i in result.link4.alllinks %}


                                 <li class="list-group-item">{{i}}</li>

                            {% endfor %}
                        </square>
                    </li>
                    <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link4.allimages %}


                                    <img src="{{i}}" alt="..." width="200px" height="200px" class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

            <hr style="border: 1px solid;">
            <!---------------------- link 5 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h1 style="color:#5f91ec">Site 5 :</h1>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Name : </strong>{{result.link5.sitename|escape}}</li>

                    <li class="list-group-item"><strong>Title : </strong>{{result.link5.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link5.url|escape}}">{{result.link5.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Phone : </strong><a href="{{result.link2.url|escape}}">{{result.link5.phone|escape}}</a></li>
                    <li class="list-group-item"><strong>Email : </strong><a href="{{result.link2.url|escape}}">{{result.link5.email|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link5.description|escape}}</li>
                    <li class="list-group-item"><strong>Paragraph has keyWord : </strong>{{result.link5s.paragraph_has_keyword|escape}}</li>

                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link5.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link5.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link5.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link5.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link5.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link5.footer|escape}}</li>
                   <li class="list-group-item">
                        <square><p><strong>All links :</strong></p>
                            {% for i in result.link5.alllinks %}


                                 <li class="list-group-item">{{i}}</li>

                            {% endfor %}
                        </square>
                    </li>
                    <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link5.allimages %}



                                    <img src="{{i}}" alt="..." width="200px" height="200px" class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

            <br>

    <center>
        <a class="btn btn-primary"
           href="mailto:someone@example.com?subject=This%20is%20the%20subject&cc=someone_else@example.com&body=This%20is%20the%20body">Send
            by email</a>
        <br>
        <br>
        <hr>
    </center>


</div>


</body>
</html>