{% load staticfiles %}
<html>
<head>
    <title>Rapport PDF</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
<body>
<center>
    <div style="width:500px;height:150px;border:5px solid #000;">
        <h2>Rapport d'analyse concurentiells </h2>
        <h2>projet site web: {{project.name}} </h2>
        <h2> Document de base</h2></div>
</center>

<div class="container-fluid">
    <h4>Sommaire</h4>
    <p><a>{{result.link1.sitename|escape}}</a></p>
    <p><a>{{result.link2.sitename|escape}}</a></p>
    <p><a>{{result.link3.sitename|escape}}</a></p>
    <p><a>{{result.link4.sitename|escape}}</a></p>
    <p><a>{{result.link5.sitename|escape}}</a></p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: right;">
            <img height="250px" width="250px" src="{% static 'images/signature.jpg' %}" style="max-width: 300px; "/>

    </div>
    <br>
    <br>
    <p>
        <stong style="font-size:80px">L</stong>a base de tout projet de site internet est de vous amener de nouveaux visiteurs, de
        nouveaux clients et de fidéliser l’existant.
        Aussi, la mise en place d’un site doit être étudiée de façon approfondie et ne peut
        être abordée comme la rédaction d’un document classique.
        VISS vous propose la création d’un site réellement orienté utilisateur, associé à un design
        agréable et percutant, à la navigation simple et adaptée à tout type de visiteurs.
    </p>

    <br>   <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>


     <!---------------------- link 1 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link1.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link1.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link1.url|escape}}">{{result.link1.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link1.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link1.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link1.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link1.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link1.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link1.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link1.footer|escape}}</li>
                   <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link1.allimages %}

                                <img src="{{i}}" alt="..." class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

            <!---------------------- link 2 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link2.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link2.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link2.url|escape}}">{{result.link2.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link2.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link2.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link2.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link2.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link2.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link2.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link2.footer|escape}}</li>


                    <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link2.allimages %}

                                <img src="{{i}}" alt="..." class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>


                </ul>
            </div>


            <!---------------------- link 3 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link3.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link3.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link3.url|escape}}">{{result.link3.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link3.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link3.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link3.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link3.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link3.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link3.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link3.footer|escape}}</li>
                    <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link3.allimages %}

                                <img src="{{i}}" alt="..." class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

            <!---------------------- link 4 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link4.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link4.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link4.url|escape}}">{{result.link4.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link4.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link4.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link4.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link4.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link4.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link4.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link4.footer|escape}}</li>
                    <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link4.allimages %}

                                <img src="{{i}}" alt="..." class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

            <!---------------------- link 5 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link5.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link5.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong><a href="{{result.link5.url|escape}}">{{result.link5.url|escape}}</a></li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link5.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link5.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link5.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link5.logo|escape}}</li>
                    <li class="list-group-item"><strong>Menu : </strong>{{result.link5.menu|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link5.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link5.footer|escape}}</li>
                    <li class="list-group-item">
                        <square><p><strong>All images :</strong></p>
                            {% for i in result.link5.allimages %}


                                <img src="{{i}}" alt="..." class="img-thumbnail">

                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>
            <br>

</div>
</body>
</html>