{% extends "base.html" %}
{% block title_page %} Create Project {% endblock %}

{% block content %}
<section class="content" style="padding-top: 130px;">
    <div class="content__inner">
        <header class="content__title">
            <h1>Create project</h1>

        </header>

        <div class="card">
            <div class="card-header" style="background-color: #00294e;">


            </div>
            <div>

                <center>
                    <h1> Create new projet </h1>

                    {% if messages %}
                        <div class="span12">
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
									<div class="alert alert-success" role="alert">
										{{ message|safe }}
									</div>
								{% endif %}

								{% if message.tags == 'error' %}
									<div class="alert alert-danger" role="alert">
										{{ message|safe }}
									</div>
								{% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                </center>


                <form method="post" action="{% url 'createproject' %}">
                    {% csrf_token %}


                    <div class="login__block__body">

						<div class="form-group">
							<label>Name</label>

							<input type="text" name="name" id="id_name" required="" class="form-control" maxlength="150">
						</div>

						<div class="form-group">
							<label>Type</label>

							<input type="text" name="type" id="id_type" required="" class="form-control" maxlength="150">
						</div>



                        <center>

                            <button type="submit" id="form_create_new_btn"
                                    class="btn btn-primary color-white waves-effect"><span id="sign_in_text">Create New Projet</span>
                                &nbsp; <i id="sign_in_icon" class="zmdi zmdi-long-arrow-right"></i></button>

                        </center>
                    </div>

                </form>


            </div>



        </div>
</section>

{% endblock %}