{% extends "base.html" %}
{% block title_page %} createreport {% endblock %}

{% block content %}
<style>
        #loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        .center {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

</style>

<section class="content" style="padding-top: 130px;">
    <div class="content__inner">
        <header class="content__title">
            <h1>Create report</h1>

        </header>

        <div class="card">
            <div class="card-header" style="background-color: #00294e;">


            </div>
            <div>

                <center>
                    <h1> Quick search & Generate pdf report</h1>

                    {% if messages %}

                    <div class="span12">
                        {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">
                            {{ message|safe }}
                        </div>
                        {% endif %}

                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message|safe }}
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                    {% endif %}
                </center>

                {% if projects %}

                <form action="/createreport/" method="POST">
                    {% csrf_token %}

                    <div class="login__block__body">


                        <div class="form-group">
                            <label>Project</label>
                            <select class="form-control" name="id_project" id="">
                                {% for project in projects %}
                                <option value="{{project.id}}">{{project.name}}</option>
                                {% endfor%}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Key word</label>

                            <input type="text" name="keyword" id="id_username" required="true" class="form-control"
                                   maxlength="150">
                        </div>

                        <div class="form-group">
                            <label>Domain</label>
                            <select name="domain" class="form-control" id="">
                                <option value="tn">tn</option>
                                <option value="fr">fr</option>
                                <option value="com">com</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label>Sector</label>

                            <input type="text" name="sector" id="id_username" required="true" class="form-control"
                                   maxlength="150">
                        </div>


                        <div class="search-button">
                            <button style="width: 50px height100px;" type="submit">create report
                            </button>
                        </div>


                    </div>

                </form>

                {% else %}
                <div class="alert alert-danger" role="alert">
                    <h3> You don't any have any project, create new one then create a report </h3>
                    <div class="col-sm-12 col-md-4 col-lg-2 text-center">
                        <a href="{% url 'createproject' %}" class="btn btn-primary waves-effect"><i
                                class="zmdi zmdi-plus-circle"></i> Create project</a>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
</section>

{% endblock %}