{% extends "base.html" %}
{% block title_page %} Home {% endblock %}

{% block content %}
  <section class="content" style="padding-top: 130px;">
                <div class="content__inner">
                    <header class="content__title">
                        <h1>Welcome To Mono SEO</h1>
                        <small class="hidden-xs-down"></small>


                    </header>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <!-- Top Projects and Top SERP Views -->

                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="card">
                                        <div class="card-header bg-sw-blue card-inverse">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-3 col-lg-3">
                                                    <h2 class="card-title">Home Panel</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="quick_projects" class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="card">
                                        <div class="card-header bg-blue card-inverse">
                                            <h2 class="card-title">Projects View</h2>
                                        </div>
                                        <div class="card-block p-4">
                                            <table style="width: 100%;" class="table table-sorting table-striped table-hover" id="top_projects_table">
                                                <thead>
                                                    <tr class="bg-deep-purple color-white">
                                                        <th class="bg-sw-blue">Project Name</th>
                                                        <th class="bg-sw-blue">Created At</th>
                                                        <th class="bg-sw-blue">Type</th>
                                                        <!-- <th>&nbsp;</th> -->
                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    {% for i in projects %}

                                                    <tr class="project_row" data-id="3" id="row_3">

                                        <td class="text-center " data-sort-value="regular">{{i.name}}</td>
                                        <td class="text-center " data-sort-value="regular">{{i.date_created}}</td>
                                        <td class="text-center " data-sort-value="regular">{{i.type}}</td>

                                      </tr>


                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="quick_serp_view" class="col-sm-12 col-md-3 col-lg-6">
                                    <div class="card">
                                        <div class="card-header bg-blue card-inverse">
                                            <h2 class="card-title">Keywords view</h2>
                                        </div>
                                        <div class="card-block p-4">
                                            <table style="width: 100%;" class="table table-sorting table-striped table-hover" id="top_keywords_table">
                                                <thead>
                                                    <tr class="bg-deep-purple color-white">
                                                        <th>KeyWord</th>
                                                        <th>Domain</th>
                                                        <th>Sector</th>
                                                        <!-- <th>&nbsp;</th> -->
                                                    </tr>
                                                </thead>

                                                <tbody>

                                                    {% for i in keywords %}
                                                    <tr>
                                                        <td query-amounts="36" align="left"><i class="zmdi zmdi-key"></i> &nbsp;
                                                            {{i.key}}
                                                        </td>
                                                        <td align="right">{{i.domain}}</td>
                                                        <td align="right">{{i.sector}}</td>
                                                        <!-- <td align='center'><i style='font-size: 1.2em;' class='zmdi zmdi-more-vert'></i></td> -->
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Gains and Losses -->



                            <!-- By Volume, CPC, OCI, Comp, country, locality, device -->




                </div>
            </section>

{% endblock %}