{% extends "base.html" %}
{% block title_page %} Add key word {% endblock %}

{% block content %}
<style>
        #loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        .center {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

</style>

<section class="content" style="padding-top: 130px;">
    <div class="content__inner">
        <header class="content__title">
            <h1>Search</h1>

        </header>

        <div class="card">
            <div class="card-header" style="background-color: #00294e;">


            </div>
            <div>

                <center>
                    <h1> Quick search</h1>

                    {% if messages %}

                    <div class="span12">
                        {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">
                            {{ message|safe }}
                        </div>
                        {% endif %}

                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message|safe }}
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                    {% endif %}
                </center>

                {% if projects %}

                <form action="/search/" method="POST">
                    {% csrf_token %}

                    <div class="login__block__body">


                        <div class="form-group">
                            <label>Project</label>
                            <select class="form-control" name="id_project" id="">
                                {% for project in projects %}
                                <option value="{{project.id}}">{{project.name}}</option>
                                {% endfor%}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Key word</label>

                            <input type="text" name="keyword" id="id_username" required="true" class="form-control"
                                   maxlength="150">
                        </div>

                        <div class="form-group">
                            <label>Domain</label>
                            <select name="domain" class="form-control" id="">
                                <option value="tn">tn</option>
                                <option value="fr">fr</option>
                                <option value="com">com</option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label>Sector</label>

                            <input type="text" name="sector" id="id_username" required="true" class="form-control"
                                   maxlength="150">
                        </div>


                        <div class="search-button">
                            <button style="width: 50px height100px;" onclick="showLoaderOnClick('/search/')"
                                    type="submit">Search
                            </button>
                        </div>


                    </div>

                </form>

                {% else %}
                <div class="alert alert-danger" role="alert">
                    <h3> You don't any have any project, create new one then make quick search </h3>
                    <div class="col-sm-12 col-md-4 col-lg-2 text-center">
                        <a href="{% url 'createproject' %}" class="btn btn-primary waves-effect"><i
                                class="zmdi zmdi-plus-circle"></i> Create project</a>

                    </div>
                </div>
                {% endif %}
            </div>

            {% if result %}

            <br>
            <center>
                <p>
                <h3 style="color: green"> Google Result</h3></p>
                <p><h4 style="color: green"> Key word : {{keyword}} | Domain : {{domain}} | Sector : {{sector}}</h4></p>
            </center>

            <!---------------------- link 1 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link1.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link1.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong>{{result.link1.url|escape}}</li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link1.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link1.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link1.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link1.logo|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link1.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link1.footer|escape}}</li>
                   <li class="list-group-item">
                        <square><strong>All images : </strong>
                            {% for i in result.link1.allimages %}
                            <li class="list-group-item">
                                {{i}}
                            </li>
                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

            <!---------------------- link 2 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link2.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link2.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong>{{result.link2.url|escape}}</li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link2.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link2.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link2.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link2.logo|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link2.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link2.footer|escape}}</li>


                    <li class="list-group-item">
                        <square><strong>All images : </strong>
                            {% for i in result.link2.allimages %}
                            <li class="list-group-item">
                                {{i}}
                            </li>
                            {% endfor %}
                        </square>
                    </li>


                </ul>
            </div>


            <!---------------------- link 3 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link3.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link3.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong>{{result.link3.url|escape}}</li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link3.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link3.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link3.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link3.logo|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link3.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link3.footer|escape}}</li>
                    <li class="list-group-item">
                        <square><strong>All images : </strong>
                            {% for i in result.link3.allimages %}
                            <li class="list-group-item">
                                {{i}}
                            </li>
                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

            <!---------------------- link 4 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link4.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link4.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong>{{result.link4.url|escape}}</li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link4.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link4.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link4.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link4.logo|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link4.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link4.footer|escape}}</li>
                    <li class="list-group-item">
                        <square><strong>All images : </strong>
                            {% for i in result.link4.allimages %}
                            <li class="list-group-item">
                                {{i}}
                            </li>
                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>

            <!---------------------- link 5 ------------------------------>
            <div class="card p-4">
                <div class="card-header">
                    <h2>{{result.link5.sitename|escape}}</h2>
                    <hr>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Title : </strong>{{result.link5.title|escape}}</li>
                    <li class="list-group-item"><strong>Url : </strong>{{result.link5.url|escape}}</li>
                    <li class="list-group-item"><strong>Description : </strong>{{result.link5.description|escape}}</li>
                    <li class="list-group-item"><strong>Metaimage : </strong>{{result.link5.metaimage|escape}}</li>
                    <li class="list-group-item"><strong>Favicon : </strong>{{result.link5.favicon|escape}}</li>
                    <li class="list-group-item"><strong>Logo : </strong>{{result.link5.logo|escape}}</li>
                    <li class="list-group-item"><strong>Theme color : </strong>{{result.link5.color|escape}}</li>
                    <li class="list-group-item"><strong>Footer : </strong>{{result.link5.footer|escape}}</li>
                    <li class="list-group-item">
                        <square><strong>All images : </strong>
                            {% for i in result.link5.allimages %}
                            <li class="list-group-item">
                                {{i}}
                            </li>
                            {% endfor %}
                        </square>
                    </li>

                </ul>
            </div>
            <br>


            {% endif %}


        </div>
</section>

{% endblock %}